
*.pk
*.zip
*.tlog
*.log
*.obj
*.exe
*.pdb
*.7z
*.db
Project/Tests/Builds/VisualStudio2019/Tests_ConsoleApp.vcxproj.user
*.user
*.sdf
*.opendb
*.ipch
*.ilk
Project/Tests/Builds/VisualStudio2019/.vs/Tests/v16/.suo
